{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/dogs/dog-detail.css' %}"
/>
<script defer src="{% static "js/dog-detail.js" %}"></script>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/grandma-dog.jpg' %}" 
      alt="An old dog"
    >
  </div>
  <div class="cat-details">
    <h1>{{ dog.name }}</h1>
    {% if dog.age > 0 %}
      <h2>A {{ dog.age }} year old {{ dog.breed }}</h2>
    {% else %}
      <h2>A {{ dog.breed }} kitten.</h2>
    {% endif %}
    <p>{{ dog.description }}</p>
    <div class="cat-actions">
      <a href="{% url "dog-update" dog.id %}" class='btn warn'>Edit</a>
      <a href="{% url "dog-delete" dog.id %}" class='btn danger'>Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toys-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
      src="{% static "images/food-date.jpg" %}" 
      alt="2 dogs enjoying a picnic"
      >
    </div>
    <h3>Add a Feeding</h3>
    <form
    method="post"
    class="subsection-content"
    autocomplete="off" 
    action="{% url "add-feeding" dog.id %}"
    >
    {% csrf_token %}
    {% if dog.fed_for_today %}
      <p class="fed">{{dog.name}} has been on all their feed meal dates for today!</p>
    {% else %}
      <p class="unfed">{{dog.name}} might be hungry and lonely!</p>
    {% endif %}
    {{feeding_form.as_p}}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    {% if dog.feeding_set.all.count  %}
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in dog.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="subsection-content">
        <p>{{dog.name}} has never been on a feed date</p>
      </div>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      <img src="{% static 'images/dog-toy.jpg' %}" alt="squeeky toy" />
      <img src="{% static 'images/ball-dog.jpg' %}" alt="A bouncy ball" />
    </div>
    <h3>{{ dog.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if dog.toys.count %}
        {% for toy in cat.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toy-detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{dog.name}} doesn't have any toys 😞</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% comment %} We'll display available toys here {% endcomment %}
    </div>
  </section>
</div>

{% endblock %}