{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <h1>Old Dog Collector Dating Site</h1>
  <h3>An Old Dog Can Learn New Tricks</h3>
  <div class="cat-container">
    <img src="{% static 'images/old-dog.jpg' %}" alt="The Old Dog Collector" />
  </div>
  <img 
    src="{% static 'images/naked-dog.jpg' %}" 
    alt="Naked Dog"
  />
</section>

{% endblock %}