{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %} 

{% block content %}
<div class="page-header">
  <h1>Sign Up</h1>
  <img src="{% static "images/old-dog.jpg" %}" alt="An old dog">
</div>
{% if error_message %}
  <p class="red-text">{{error_message}}</p>
{% endif %}
<form 
action=""
class="form-container"
autocomplete="off" 
method="POST">
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}